body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #2fdda0;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr; /* 兩列等寬 */
    gap: 20px; /* 格子之間的間距 */
    background-color: #aa1616;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(25, 25, 186, 0.1);
  }
  
  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #cf5a1f;
  }
  